extends layout

block content
  section.bg__1.min-vh-100(style="background-position: 0 60px;")
    include particals/navbarUser.pug
    .container.mt-5
      .card.bg__card.p-4.p-md-5
        .row
          .col-lg-5
            .d-flex.align-items-center
              img(src="https://via.placeholder.com/64" alt="64x64")
              .ml-3
                if user
                  a.text-reset(href="/users/me") #{user.name}
                  //- div ID: #{user.identity}
                  br
                  a(href="/users/change-password") Đổi mật khẩu
            .border.rounded.p-3.mt-3
              table
                tbody
                  tr
                    td
                      div Khối:&nbsp;
                    td.pl-3
                      strong.font-weight-bold #{user.grade}
                  tr
                    td
                      div Lớp:&nbsp;
                    td.pl-3
                      strong.font-weight-bold #{user.classRoom}
                  tr
                    td
                      div Bậc:&nbsp;
                    td.pl-3
                      strong.font-weight-bold #{user.school}
                  tr
                    td
                      div Trường:&nbsp;
                    td.pl-3
                      strong.font-weight-bold #{user.nameSchool}
                  tr
                    td
                      div Đơn vị:&nbsp;
                    td.pl-3
                      strong.font-weight-bold #{user.district}
          .col-lg-7.mt-4.mt-lg-0
            h6(style="color: #3d5170").font-weight-bold.m-0 Lượt thi:&nbsp;
              if user
                if user.lanThi.luotThi < 0
                  span 0
                else
                  span #{user.lanThi.luotThi}
            h5.text-center.text-sm-left
              input#index__thoigianconlai.d-none(value=formatedThoiGianThiFinishDate ? `${formatedThoiGianThiFinishDate} ${thoiGianThi.finishTime} ${thoiGianThi.timeZone}` : null)
              if thoiGianThi
                table
                  tbody
                    tr.small
                      td.font-weight-normal Thời gian bắt đầu:&nbsp;
                      td.pl-2
                        strong.font-weight-bold #{thoiGianThi.startTime}
                        span ,&nbsp;
                        strong.font-weight-bold #{thoiGianThi.startDate}
                    tr.small
                      td.font-weight-normal Kết thúc lúc:&nbsp;
                      td.pl-2
                        strong.font-weight-bold #{thoiGianThi.finishTime}
                        span ,&nbsp;
                        strong.font-weight-bold #{thoiGianThi.finishDate}
                    tr.small
                      td.font-weight-normal.mt-3 Thời gian còn lại:&nbsp;
                      td.pl-2
                        span.font-weight-bold#index__thoigianconlai__dd 0
                        span &nbsp;ngày&nbsp;
                        span.font-weight-bold#index__thoigianconlai__hr 0
                        span &nbsp;giờ&nbsp;
                        span.font-weight-bold#index__thoigianconlai__min 0
                        span &nbsp;phút&nbsp;
                        span.font-weight-bold#index__thoigianconlai__sec 0
                        span &nbsp;giây
              else
                span Chưa có thời gian thi
            table.table.table-hover.table-bordered.mb-2.mt-2
              thead.bg-light
                tr
                  th.align-middle(scope='col' style='width: 5%') #
                  th.align-middle(scope='col') Vòng
                  th.align-middle(scope='col') Điểm
                  th.align-middle(scope='col') Thời gian
              if(baiThiTotNhat.length > 0)
                tbody
                  -var i = 1;
                  -for(var iBaiThi of baiThiTotNhat)
                    tr
                      td= i++
                      td= iBaiThi.exam
                      td= iBaiThi.scope
                      td= iBaiThi.time
                  tr.bg-light
                    td.font-weight-bold(colspan='2') Summary:
                    td #{summaryScore}
                    td #{summaryTime}