extends users.pug

block var
  -var currentURL = '/me'

block content
  h4(style='color: #3d5170').text-center.font-weight-bold Thông tin cá nhân
  form#users_me(action='/users/me' method='POST').mt-2.row.justify-content-center
    .col-sm-6.form-group
      label.d-block.m-0 Họ và tên
        input.form-control(required name='name' placeholder='Họ và tên' value=user.name)
    //- .col-sm-6.form-group
    //-   label.d-block.m-0 Chứng minh nhân dân
    //-     input.form-control(disabled placeholder='Chứng minh nhân dân' value=user.identity)
    .col-sm-6.form-group
      label.d-block.m-0 Email
        input.form-control(disabled value=user.email)
      input.d-none(name='email' value=user.email)
    .col-sm-6.form-group
      label.d-block.m-0 Ngày sinh
        input.form-control(required name='birthday' placeholder='Ngày sinh' value=user.birthday)
    .col-sm-6.form-group
      label.d-block.m-0 Giới tính
      .fake__select.dropdown
        button.form-control.text-left.d-flex.align-items-center.justify-content-between.pr-2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          input.w-100.border-0.user-select-none(readonly name='sex' value=user.sex style='outline: none')
          span.material-icons(style='font-size: inherit') keyboard_arrow_down
        .dropdown-menu
          .dropdown-item Nam
          .dropdown-item Nữ
    .col-sm-6.form-group
      label.d-block.m-0 Tỉnh
      .fake__select.dropdown
        button.form-control.text-left.d-flex.align-items-center.justify-content-between.pr-2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          input.w-100.border-0.user-select-none(readonly name='province' value=user.province style='outline: none')
          span.material-icons(style='font-size: inherit') keyboard_arrow_down
        .dropdown-menu
          .dropdown-item Bà Rịa - Vũng Tàu
    .col-sm-6.form-group
      label.d-block.m-0 Đơn vị
      .fake__select.dropdown
        button.form-control.text-left.d-flex.align-items-center.justify-content-between.pr-2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          input.w-100.border-0.user-select-none(readonly name='district' value=user.district style='outline: none')
          span.material-icons(style='font-size: inherit') keyboard_arrow_down
        .dropdown-menu
          .dropdown-item TP. Vũng Tàu
          .dropdown-item TP. Bà Rịa
          .dropdown-item H. Châu Đức
          .dropdown-item H. Xuyên Mộc
          .dropdown-item H. Long Điền
          .dropdown-item H. Đất Đỏ
          .dropdown-item TX. Phú Mỹ
          .dropdown-item H. Côn Đảo
    .col-sm-6.form-group
      label.d-block.m-0 Bậc
      .fake__select.dropdown
        button.form-control.text-left.d-flex.align-items-center.justify-content-between.pr-2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          input.w-100.border-0.user-select-none(readonly name='school' value=user.school style='outline: none')
          span.material-icons(style='font-size: inherit') keyboard_arrow_down
        .dropdown-menu
          //- .dropdown-item Trung học cơ sở
          .dropdown-item Trung học phổ thông
          //- .dropdown-item Cao đẳng
          //- .dropdown-item Đại học
    .col-sm-6.form-group
      label.d-block.m-0 Trường
        //- input.form-control(required name='nameSchool' placeholder='Trường' value=user.nameSchool)
      .fake__select.dropdown
        button.form-control.text-left.d-flex.align-items-center.justify-content-between.pr-2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          input.w-100.border-0.user-select-none(name='nameSchool' placeholder='Tên trường' value=user.nameSchool style='outline: none' readonly)
          span.material-icons(style='font-size: inherit') keyboard_arrow_down
        .dropdown-menu
          .dropdown-item Côn Đảo - THPT Võ Thị Sáu
          .dropdown-item Đất Đỏ - THPT Võ Thị Sáu
          .dropdown-item Đất Đỏ - THPT Dương Bạch Mai
          .dropdown-item Châu Đức - TT GDTX
          .dropdown-item Châu Đức - PTDTNT
          .dropdown-item Châu Đức - THPT Nguyễn Văn Cừ
          .dropdown-item Châu Đức - THPT Trần Phú
          .dropdown-item Châu Đức - THPT Nguyễn Trãi
          .dropdown-item Châu Đức - THPT Nguyễn Du
          .dropdown-item Châu Đức - THPT Ngô Quyền
          .dropdown-item Long Điền - THPT Trần Quang Khải
          .dropdown-item Long Điền - TT GDTX Long Điền - Đất Đỏ
          .dropdown-item Long Điền - THPT Long Hải
          .dropdown-item Long Điền - THPT Minh Đạm
          .dropdown-item Long Điền - THPT Trần Văn Quan
          .dropdown-item Xuyên Mộc - TT GDTX
          .dropdown-item Xuyên Mộc - THPT Hòa Bình
          .dropdown-item Xuyên Mộc - THPT Xuyên Mộc
          .dropdown-item Xuyên Mộc - THPT Bưng Riềng
          .dropdown-item Xuyên Mộc - THPT Hòa Hội
          .dropdown-item Xuyên Mộc - THPT Phước Bửu
          .dropdown-item Vũng Tàu - THPT Đinh Tiên Hoàng
          .dropdown-item Vũng Tàu - THPT Nguyễn Huệ
          .dropdown-item Vũng Tàu - THPT chuyên Lê Quý Đôn
          .dropdown-item Vũng Tàu - THPT Nguyễn Thị Minh Khai 
          .dropdown-item Vũng Tàu - THPT Lê Hồng Phong
          .dropdown-item Vũng Tàu - THPT Song Ngữ
          .dropdown-item Vũng Tàu - THPT Vũng Tàu
          .dropdown-item Vũng Tàu - TTGDTX HN VT
          .dropdown-item Vũng Tàu - THPT Trần Nguyên Hãn
          .dropdown-item Bà Rịa - THPT Nguyễn Bỉnh Khiêm
          .dropdown-item Bà Rịa - THPT Bà Rịa
          .dropdown-item Bà Rịa - THPT Châu Thành
          .dropdown-item Phú Mỹ - TT GDTX
          .dropdown-item Phú Mỹ - THPT Hắc Dịch
          .dropdown-item Phú Mỹ - THPT Trần Hưng Đạo
          .dropdown-item Phú Mỹ - THPT Phú Mỹ
    
    .col-sm-6.form-group
      label.d-block.m-0 Khối
      .fake__select.dropdown
        button.form-control.text-left.d-flex.align-items-center.justify-content-between.pr-2(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          input.w-100.border-0.user-select-none(readonly name='grade' value=user.grade style='outline: none')
          span.material-icons(style='font-size: inherit') keyboard_arrow_down
        .dropdown-menu
          -for(var i = 10; i < 13; i++)
            .dropdown-item Lớp #{i}
          //- .dropdown-item Cao Đẳng
          //- .dropdown-item Đại học
    .col-sm-6.form-group
      label.d-block.m-0 Tên lớp
        input.form-control(required name='classRoom' placeholder='Tên lớp' value=user.classRoom)
    .col-lg-5.text-center
      button#users_me_update_yes(type='submit').btn.btn-primary.d-none Cập nhật
      button#users_me_update_no(type='reset').btn.btn-link.d-none Hủy bỏ
  .text-center.mt-2
    button.btn.btn-primary#users_me_update Cập nhật thông tin