extends layout

block scripts
  script(src='/javascripts/section-2.js')

block content
  form(name="exams_section2" method='POST').container-fluid.p-4.min-vh-100.bg__3
    if exams
      input.d-none#section2__summaryTimeeee(type="text" name="time" placeholder="time")
      input.d-none(name='exam' value=examCode)
      input.d-none(name='lanThi' value=infoUser.lanThi.luotThi)
      input.d-none(name='user' value=infoUser._id)
      input.d-none(name='location' value=location)
    .row
      .col-12
        h3.font-weight-bold.ready__title Vòng 2
      .col-md-auto.mb-3
        .section2__left__container
          .card.p-3
            .section2__question__wrapper(style=`background-image: url('${image}');`)
      .col-12.col-xl.mt-4.mt-xl-0.mb-3
        .row.no-gutters
          .col-6.pr-1
            .card.p-3
              .question__answer.overflow-auto(style="height: 400px")
                .h5 Đây là đơn vị hành chính nào ?
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_a` type='radio' name="locationAnswer" value='vungtau')
                  label.custom-control-label(for=`section2_location_a`) TP. Vũng Tàu
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_b` type='radio' name="locationAnswer" value='baria')
                  label.custom-control-label(for=`section2_location_b`) TP. Bà Rịa
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_c` type='radio' name="locationAnswer" value='chauduc')
                  label.custom-control-label(for=`section2_location_c`) H. Châu Đức
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_d` type='radio' name="locationAnswer" value='xuyenmoc')
                  label.custom-control-label(for=`section2_location_d`) H. Xuyên Mộc
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_e` type='radio' name="locationAnswer" value='longdien')
                  label.custom-control-label(for=`section2_location_e`) H. Long Điền
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_f` type='radio' name="locationAnswer" value='datdo')
                  label.custom-control-label(for=`section2_location_f`) H. Đất Đỏ
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_g` type='radio' name="locationAnswer" value='phumy')
                  label.custom-control-label(for=`section2_location_g`) TX. Phú Mỹ
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`section2_location_h` type='radio' name="locationAnswer" value='brvt')
                  label.custom-control-label(for=`section2_location_h`) Tỉnh Bà Rịa Vũng Tàu
          .col-6.pl-1
            .card.p-3.overflow-auto
              .question__answer.overflow-auto(style="height: 400px")
                -for(var i = 0; i < exams.length; i++)
                  p
                    input.d-none(type="text" name=`answer[${i}].[_id]` value=exams[i]._id)
                    input.section2__input(type="number" name=`answer[${i}][answer]` onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                    span.ml-2 #{exams[i].label}
      .col-12
        .card.py-3.px-4
          .d-md-flex.align-items-center
            button(type='button').btn.btn-primary.section2__question__submit.px-5 Thi vòng tiếp theo
            .ml-auto.mt-3.mt-md-0
              span Tổng thời gian:&nbsp;
              span.font-weight-bold#section2__summaryTimer 0